
.footer{
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 80px;
  background-color: burlywood;
}

ul{
    display: flex;
    list-style: none;
}
ul li{
    padding-left: 2rem;
}