.active{
    background-color: blueviolet;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
    position: sticky;
    top: 0;
}
nav .title{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 1rem;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

@media (max-width:600px) {
    nav{
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: gold;
     
    }
    nav ul{
        display: grid;
        align-items: center;
        justify-content: center;
    }

}