body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
   
    font-family: Arial, Helvetica, sans-serif;
}

h1{ 
    background: url(./sekil/pattern.jpeg);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 100px;
    color: yellow;

}
h2{
    color: white;
    font-size: 30px;
   

}
h3{
    color: black;
}
p span{
    font-weight: bold;
}